
body {
  margin: 0;
 background-color:  #dfd3bc;
}

code {
  font-family: 'IBM Plex Mono', monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.h1{
  font-family: 'DisplayLightItalic';
}


