/* styles.css */

 @font-face {
    font-family: 'DisplayRegular';
    src: url("../public/fonts/PPEditorialNew-Regular.otf") format('opentype');
  }
  
  @font-face {
    font-family: 'DisplayItalic';
    src: url("../public/fonts/PPEditorialNew-Italic.otf") format('opentype');
  }
  
  @font-face {
    font-family: 'DisplayLightItalic';
    src: url("../public/fonts/PPEditorialNew-UltralightItalic.otf") format('opentype');
  }
  
  @font-face {
    font-family: 'DisplayBoldItalic';
    src: url("../public/fonts/PPEditorialNew-UltraboldItalic.otf") format('opentype');
  }
  
  @font-face {
    font-family: 'DisplayBold';
    src: url("../public/fonts/PPEditorialNew-Ultrabold.otf") format('opentype');
  }

  @font-face {
    font-family: 'DisplayLight';
    src: url("../public/fonts/PPEditorialNew-Ultralight.otf") format('opentype');
  }
  
  pre {
    font-family: 'IBM Plex Mono';
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left; 
    color: black;
} 

/*this is adding styling to the pre preserved html stuff*/
/* styles.css applies fonts globally */