/* styles.css */

 @font-face {
    font-family: 'DisplayRegular';
    src: url("../public/fonts/PPEditorialNew-Regular.otf") format('opentype');
  }
  
  @font-face {
    font-family: 'DisplayItalic';
    src: url("../public/fonts/PPEditorialNew-Italic.otf") format('opentype');
  }
  
  @font-face {
    font-family: 'DisplayLightItalic';
    src: url("../public/fonts/PPEditorialNew-UltralightItalic.otf") format('opentype');
  }
  
  @font-face {
    font-family: 'DisplayBoldItalic';
    src: url("../public/fonts/PPEditorialNew-UltraboldItalic.otf") format('opentype');
  }
  
  @font-face {
    font-family: 'DisplayBold';
    src: url("../public/fonts/PPEditorialNew-Ultrabold.otf") format('opentype');
  }

  @font-face {
    font-family: 'DisplayLight';
    src: url("../public/fonts/PPEditorialNew-Ultralight.otf") format('opentype');
  }
  
  pre {
    font-family: 'IBM Plex Mono';
    font-size: 13px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-align: left; 
    color: black;
} 

/*this is adding styling to the pre preserved html stuff*/
/* styles.css applies fonts globally */


.profileContainer {
  position: relative;  /* Set context for positioning the pseudo-element */
  display: inline-block;  /* Ensure container fits around ProfileTemplate size */
}
.profileContainer:before {
  content: "";  /* Mandatory for pseudo-elements */
  position: absolute;
  top: 50%;  /* To vertically center the circle behind the ProfileTemplate */
  left: 50%;  /* To horizontally center the circle behind the ProfileTemplate */
  width: 150%;  /* Setting this to more than 100% to ensure the circle covers ProfileTemplate */
  height: 75%;  /* Half-height to achieve the half-circle effect */
  background-image: radial-gradient(circle, black 1px, transparent 1px);  /* Dot pattern */
  background-size: 20px 20px;  /* Size of dots - adjust as needed */
  border-radius: 50%;  /* To make it circular */
  transform: translate(-50%, -50%) scale(0.5, 1);  /* To center and make it a half-circle */
  z-index: -1;  /* To place it behind ProfileTemplate */
}